body {
    background-color: rgb(211, 211, 211);
    align-content: center;
}

.main {
    min-height: 100vh;
    border-radius: 10px;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.185);
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    
}

.inputtext{
    width: 70%;
    border-radius: 0;
    border: 1px solid black;
}

.labeltimes {
    margin-top: 35px;
}

.time3 {
    display: none;
}

.time4 {
    display: none;
}

.configStyle {
    display: inline-block;

}

.configStyle h2, h3 {
    font-family: square;
}   

.labelTT {
    border: 1px solid black;
}

table {
border-collapse: collapse;
margin-bottom: 20px;
width: 100px;
background-color: white;
}

th, td {
border: 1px solid black;
width: 100px;
text-align: left;
background-color:white ;
}

th, td {
padding: 8px;
text-align: left;

}

button:hover {
    box-shadow: 0 0 1px 2px rgb(126, 126, 126);
    background-color: black;
    border: 2x solid white;
    color: white;
}

input {
    border-radius: 6px ;
    border: 1px solid black;
}

input::selection{
    background-color: black;
    color:white;
    box-shadow: 0 0 1px 2px black;
}

button {
    border-radius: 6px;
    border: 1px solid black;
}

select {
    border-radius: 6px;
}

.logo {
    position: absolute;
    width: 72px;
    height: 70px;
    left: 4px;
    top: 2px;
}

.logoPN {
    position: absolute;
    width: 100px;
    height: 98px;
    right: 2px;
    top: 2px;
}

.rodadasStyle input {
    width: 77.42px;
    height: 28px;
}

.rodadasStyle h3 {
    margin-top: 70px;
}

.rodadasStyle h3:first-child {
    margin-top: 0;
}

.dinamicTable {
   float: right; 
   text-align: left;
   display: none;
   margin-right: 20%;
}

hr {
    border: 1px solid black;
    margin-top: 3px;
}

h2 {
    margin-bottom: 2.8px;
}

a:link {
    color:black;
}

a:visited {
    color:black;
}

.versionStyle {
    display: inline-flex;
    flex-direction: row;
    text-align: right;
}

.time4 {
    display: none;
}


footer {
    background-color: white;
    border-radius: 10px 10px 0 0;
    text-align: center;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.185);
}

header {
    position: relative;
    height: 80px;
    background-color: white;
    border-top: 2px solid white;
    border-radius: 0 0 10px 10px ;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.185);
}

.titulo {
    margin-left: 76px;
    margin-top: 15px;
    font-family: square;
}

.navPatchNotes {
    margin-top: 15px;
    position:absolute;
    right: 4px;
    top: 4px;
    text-decoration: underline;
}



@media (max-width: 815px) {
    .mainPhone{
      width: 100%;
     
    }

    .logo {
        width: 70px;
    height: 67px;
    }

    h2, h4 {
        font-size:large;
    }

    input {
        width: 140px;
    }

    .dinamicTable {
        align-items: left;
        float:none;

    }

    .sticky-top {
        position: static;
    }
}

@media (max-width: 525px) {
    input {
        width:110px;
    }
}

@media (max-width: 508px) {
    .rodadasStyle{
        width: 70%;
        margin-left: 15%;
    }

    .rodadasStyle p {
        width: 70vh;
        margin-left: 0;
    }
    
    .rodadasStyle h3 {
        width: 70%;
        margin-left: 15%;
    }

    main {
        width: 100%;
    }

    .configStyle {
        display: flex;
        flex-direction:column;
        align-content: center;
        text-align: center;
        width: 70%;
        margin-left: 15%;
    }

    .dinamicTable {
        display: flex;
        flex-direction:column;
        align-content: center;
        text-align: center;
        width: 70%;
        margin-left: 15%;
        margin-top: 20px;
        display: none;
    }
    
    input {
        width: 100%;
    }

    .configStyle button {
        margin-top: 30px;
        width: 70%;
        margin-left: 15%;
    }
    
    .navPatchNotes {
        display: none;
    }
}

@media (max-width: 415px) {
    .logo {
    width: 50px;
    height: 47px;
    }

   .rodadasStyle {
    align-items: center;
   }

   .container {
    padding: 10px;
   }


   .titulo {
    margin-left: 76px;
    margin-top: 0px;
    font-family: square;
    
}

.titulo h2 {
    size: small;
}
.navPatchNotes {
    margin-top: 20px;
    position:absolute;
    left: 4px;
    bottom: 4px;
    text-decoration: underline;
}

.logo {
    top: 15px;
}

}

@media (max-width: 280px) {
    h2, h4, h3 {
        font-size:small;

    }

    .rodadasStyle button {

        align-items: center;
    }
    .rodadasStyle p {
        width:100%;
        margin-left: 0;
    }

    .rodadasStyle button {
        width: 50%;
        margin-left: 20%;
        margin-top: 10px;
    }

}

@font-face {
    font-family: square;
    src: url(ST-SimpleSquare.otf);
 }