@font-face {
    font-family: 'poppins';
    src: url('Poppins-Regular.ttf') format('opentype'), url('Poppins-Regular.ttf') format('truetype');
    font-weight:500;
    font-style: normal;
}

* {
    font-family: 'poppins';
}

body {
    margin: 0; 
    padding: 0;
    background-color: #212121;
}

.container {
    position: relative;
    min-height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
}

img {
    max-width: 300px;
    max-height: 300px;
}

h1, h2, h3, h4, p, div, label {
    color: whitesmoke;
}

.aviso {
    color: rgb(145, 143, 143);
}

.card {
    border-radius: 30px;
    background: #212121;
    box-shadow:  10px 10px 20px #131313,
             -10px -10px 20px #2f2f2f;
}

input {
    background-color: transparent;
    border: 0.10rem solid whitesmoke;
    color: whitesmoke;
    border-radius: 0.5rem;
    padding: 5px;
}

button {
    background-color: transparent;
    border: 0.10rem solid whitesmoke;
    color: whitesmoke;
    border-radius: 0.5rem;
    padding: 5px;
}

button:hover {
    background-color: rgba(245, 245, 245, 0.253);
    cursor: pointer;
}

#partidas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#partidas input {
    width: 100px;
}

#form_config label, input{
    margin: 10px;
}

#qtd_times {
    width: 50px !important;
}
#qtd_turnos {
    width: 50px !important;
}
#form_config input {
    width:200px;
}

#nometimes label, input {
    margin: 5px;
}

section button {
    margin-top: 30px;
}


input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #212121; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #535353; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.headerTabela {
    border-bottom: 4px solid whitesmoke ;
}
